*
nav{
    height: 100px;
}
#navBtn{
    color:black;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
    left:20px;
    
}
#title{
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    padding-top:15px;

    
}